
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body {
  background: #000;
  color: white;
  font-family: Montserrat, sans-serif;
}
div.top {
  display:grid;
  text-align: left;
  background: #2E2E2E;
  padding: 20px;
  border-radius: 10px;
  
  grid-template-columns: 50% 50%;
  
}

div.b {
  
  display: flex;
  justify-items: center;
  align-items: center;
  padding:0 25%;
  

}

a.top {
  font-family: Montserrat, sans-serif ;
  font-size: calc(20px);
  color: white;
  text-decoration: none;
}

.center {
  padding:10px;
  text-align: center;
}
.container {
  font-family: Montserrat, sans-serif;
  font-size: 10px;
}